.card {
  border: 3px solid #007BFF;
}

.feedback {
  font-weight: bold;
}

.btn-outline-primary:hover {
  background-color: #007BFF;
  color: white;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

.main-window {
  position: relative;
}

.result {
  position: absolute;
  width: 100%;
}

.correct-background {
  background-color: rgba(0, 128, 0, 0.763) !important;
  color: black !important;
}

.incorrect-background {
  background-color: rgba(128, 0, 0, 0.763) !important;
  color: black !important;
}